/* Add this to your CSS file */
.btn-green {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
  }
  
  .btn-green:hover {
    background-color: #3e8e41; 
  }
  